<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./todos.css">
</head>
<body>
  <div id="todos">
    <section class="todoapp">
      <header class="header">
        <h1>Todos</h1>
        <input type="text" class="new-todo" 
        placeholder="Ajouter une tache" v-model="newTodo" @keyup.enter="addTodo">
      </header>
      <div class="main">
        <input type="checkbox" id="toggle-all" class="toggle-all" @click="allCompleted($event)">
        <label for="toggle-all" @click="allCompleted">Mark all as complete</label>
        <ul class="todo-list">
          <li class="todo" v-for="todo in todos">
            <div class="view">
              <input type="checkbox" v-model="todo.completed" :class="{completed: todo.completed}" class="toggle">
              <label >{{ todo.name }}</label>
              <button class="destroy" @click="supTodo(todo)"></button>
            </div>
            <input type="text" class="edit"> 
          </li>
         <!-- <li class="todo" v-for="todo in todos" :class="(completed: todo.completed)">
            <div class="view">
              <input type="checkbox" v-model="todo.completed" class="toggle">
              <label >Tâche 1</label>
              <button class="destroy"></button>
            </div>
            <input type="text" class="edit"> 
          </li>
          <li class="todo completed">
            <div class="view">
              <input type="checkbox" class="toggle">
              <label >Tâche 2</label>
              <button class="destroy"></button>
            </div>
            <input type="text" class="edit">
          </li>-->
        </ul>
      </div>
      <footer class="footer" v-if="todos.length">
        <span class="todo-count">
          <strong>{{ remaining }}</strong> tâches à faire</span>
        <ul class="filters">
          <li><a href="#" class="selected">Toutes</a></li>
          <li><a href="#">À faire</a></li>
          <li><a href="#">Faites</a></li>
        </ul>
        <button class="clear-completed" @click="clearAccomplished" v-if="completed > 0">Clear accomplished</button>
      </footer>
    </section>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
  <script src="./todos.js"></script>
</body>
</html>
